<div id="people" data-link-name="people header" class="section header people" data-id="people">
  <div class="section-header--image">
    <img class="{{imageclass}} place-image people-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/8080fcc84e91c01cb5a6aabf332a91f8ea6513a0/0_0_3840_2160/2000.jpg?width=1920&quality=85&auto=format&fit=max&s=f93e1ddf25aa6dd1c3ee49f84770d16a" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>Netflix</h1>
          <p>Katherine Ryan: Glitter Room, The Last Czars, Stranger Things 3 and Comedians in Cars Getting Coffee</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#eacca0"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy people">
  {{#Netflix}}
      <div class="content__main-column">
      <h1 class="heading" id="{{section}}">
          {{#label}}
            <div class="text label">{{{label}}}</div>
          {{/label}}
          <div class="text">{{{headline}}}</div>
          <div class="text date">{{{date}}}</div>
      </h1>
      {{#image}}
        <div class="body-image">
          <img src="{{{image}}}">
        </div>
      {{/image}}
      {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
           {{imageCaption}}
          </p>
        </div>
      {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre>
      {{#link}}
        <div class="credit link"><a href="{{{link}}}">Read our review</a></div>
      {{/link}}
      <div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/Netflix}}
</div>
</div>
<div class="ad--wrapper--mobile" style="padding:20px 0px;">
  <div id="dfp-ad--inline7" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline7" data-link-name="ad slot inline5" data-test-id="ad-slot-inline7" data-name="inline7" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
</div>

<!--FoodDrink-->
<div id="FoodDrink" data-link-name="food header" class="section header FoodDrink" data-id="FoodDrink">
  <div class="section-header--image">
    <img class="top place-image  food-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/a75c2f4a57759beb8f0f69e7b8a40f8399f83431/0_0_3900_2700/2000.jpg?width=1920&quality=85&auto=format&fit=max&s=cb1ef82a36e37cf977982bd66896d3cf" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
            <h1>Amazon</h1>
            <p>Harlots and The Boys</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#eacca0"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy FoodDrink">
  {{#Amazon}}
      <div class="content__main-column">
          <h1 class="heading" id="{{section}}">
              {{#label}}
                <div class="text label">{{{label}}}</div>
              {{/label}}
              <div class="text">{{{headline}}}</div>
              <div class="text date">{{{date}}}</div>
          </h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
           {{imageCaption}}
          </p>
        </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/Amazon}}
</div>
</div>
<!--places-->
<div id="places" data-link-name="places header" class="section header places" data-id="places">
  <div class="section-header--image">
    <img class="top place-image place-image places-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/7bf0b4a49606433fcc89f85d69c9a63c0f90ce4d/0_0_4878_2509/2000.jpg?width=1920&quality=85&auto=format&fit=max&s=a413850f05622743b2b2067bf7a11529" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
            <h1>BBC iPlayer</h1>
            <p>Glastonbury 2019, Minding the Gap: An American Skateboarding Story, Serengeti and Dark Money</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#eacca0"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy places">
  {{#iPlayer}}
      <div class="content__main-column">
          <h1 class="heading" id="{{section}}">
              {{#label}}
                <div class="text label">{{{label}}}</div>
              {{/label}}
              <div class="text">{{{headline}}}</div>
              <div class="text date">{{{date}}}</div>
          </h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
          <div class="caption">
            <p class="caption-text">
              <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
              {{imageCaption}}
            </p>
          </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
  {{/iPlayer}}
</div>
</div>
<div class="ad--wrapper--mobile" style="padding:20px 0px;">
  <div id="dfp-ad--inline6" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline6" data-link-name="ad slot inline6" data-test-id="ad-slot-inline6" data-name="inline6" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
</div>
<!--BOOKS-->
<div id="books" data-link-name="books header" class="section header books" data-id="books">
  <div class="section-header--image">
    <img class="{{imageclass}} place-image writing-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/b646f8bcdf86ebe921375deeec850cbd421fd751/0_0_8256_4954/2000.jpg?width=1920&quality=85&auto=format&fit=max&s=a75123ce2274a637725dc1fb593e555f" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
            <h1>Best of the rest</h1>
            <p>The Handmaid’s Tale, Catch-22, Waco and Kidding</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#eacca0"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy books">
  {{#Rest}}
      <div class="content__main-column">
          <h1 class="heading" id="{{section}}">
              {{#label}}
                <div class="text label">{{{label}}}</div>
              {{/label}}
              <div class="text">{{{headline}}}</div>
              <div class="text date">{{{date}}}</div>
          </h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
          <div class="caption">
            <p class="caption-text">
              <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
             {{imageCaption}}
            </p>
          </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/Rest}}
</div>
</div>
