<div class="interactive-main">
	<div class="where-to-go-header">
		<div class="where-to-go-header--image">
			<img class="video-image "
				src='https://media.guim.co.uk/d91d43ebe125406ecb350d6f41f30395d9e31b1f/485_0_5515_4000/2000.jpg'>
			<div class="image--overlay"></div>
			<div class="where-to-go-header--title">
				<div class="gs-container">
					<div class="content__main-column">
						<h2><span class="large light-highlight">TV and Film</span></h2>
						<h1><span class="large dark-highlight">What's on Netflix and Amazon this month – October 2019 </span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="where-to-go-header--standfirst">
		<div class="standfirst--wrapper section">
			<div class="content__main-column">
				<!-- <p class="strap date">Our monthly rundown of the best TV shows and films on streaming services</p> -->
				<p class="content__dateline" aria-hidden="true">
					<time itemprop="datePublished" datetime="2018-06-01T11:30:00+0100" data-timestamp="1527845644000"
						class="content__dateline-wpd js-wpd content__dateline-wpd--modified">
						Tuesday 1 October 2019 <span class="content__dateline-time">9.30&nbsp;BST</span>
					</time>
					<time datetime="2018-06-01T11:30:00+0100" data-timestamp="1527846325000"
						class="content__dateline-lm js-lm u-h" itemprop="dateModified">
						Last modified on October 1 2019 <span class="content__dateline-time">09.30&nbsp;BST</span>
					</time>
				</p>
				<div class="byline-wrap">
					<p class="byline">
						By
						<a href="https://www.theguardian.com/profile/gwilym-mumford">Gwilym Mumford</a>, <a
							href="https://www.theguardian.com/profile/kate-abbott">Kate Abbott</a>, <a
							href="https://www.theguardian.com/profile/luke-holland">Luke Holland</a> and <a
							href="https://www.theguardian.com/profile/ammar-kalia">Ammar Kalia</a>.
					</p>
				</div>
			</div>
			<div class="where-to-go--menu--placeholder"></div>
			<div class="where-to-go--menu">
				<div class="gs-container">
					<div class="content__main-column">
						<ul>
							<li class="jump">Jump to</li>
							<li><a data-link-name="people menu" href="#people">Netflix</a></li>
							<li><a data-link-name="food menu" href="#FoodDrink">Amazon</a></li>
							<li><a data-link-name="places menu" href="#places">iPlayer</a></li>
							<li><a data-link-name="books menu" href="#books">Best of the Rest</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Adding in this empty div to inject the html we render in app.js into -->
	<div class="interactive-blocks"></div>
</div>